.show {
    z-index: 1000;
    position: absolute;
    background-color: #505050;
    padding: 2px;
    display: block;
    margin-left: 10px;
    list-style-type: none;
    list-style: none;
    box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
    transition: all 0.2s ease;
}

.hide {
    display: none;
}

.show li {
    list-style: none;
    width: 150px;
    font-size: 20px;
    color: white;
    padding: 10px;
    border: 1px solid transparent;
    transition: all 0.2s ease;
    cursor: pointer;
}

.show li:hover {
    border: 1px solid white;
    background-color: #5f5f5f;
}

.show a:hover {
    text-decoration: underline !important;
}