.widget-control {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: rgb(160, 202, 236);
    box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    z-index: 30;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}

#c-close {
    color: rgb(233, 29, 73);
    display: none;
}

.widget {
    width: 400px;
    height: 100vh;
    position: fixed;
    top: 0px;
    right: 0px;
    transform: translateX(500px);
    z-index: 20;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
}

.w-head {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: calc(300px);
}

.w-head h2 {
    color: rgb(17, 135, 231);
    letter-spacing: 1px;
    font-weight: 900;
    font-family: "Poppins", sans-serif;
}

.w-head .panel {
    padding-top: 7px;
    color: transparent;
    display: flex;
}

.w-head .panel i {
    margin-left: 10px;
    font-size: 20px;
    -webkit-text-stroke: 2px rgb(17, 135, 231);
    cursor: pointer;
}