.widget-control {
    position: fixed;
    top: 15px;
    right: 15px;
    width: 40px;
    height: 40px;
    background-color: rgb(160, 202, 236);
    box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    z-index: 30;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    padding: 0px;
}

#c-close {
    color: rgb(233, 29, 73);
    display: none;
}

.widget {
    width: 400px;
    height: 100vh;
    position: fixed;
    top: 0px;
    right: 0px;
    transform: translateX(500px);
    z-index: 20;
    padding: 0px;
    padding-top: 0px;
    background-color: white;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
    overflow-y: scroll;
    overflow-x: hidden;
}

.widget::-webkit-scrollbar {
    width: 10px;
    z-index: 10;
}


/* Track */

.widget::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
    z-index: 10;
}


/* Handle */

.widget::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
    z-index: 10;
}


/* Handle on hover */

.widget::-webkit-scrollbar-thumb:hover {
    background: #666;
}

.w-head {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 400px;
    position: sticky;
    top: 0px;
    left: 0px;
    padding-right: 80px;
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 50;
}

.w-head h2 {
    color: rgb(17, 135, 231);
    letter-spacing: 1px;
    font-weight: 900;
    font-family: "Poppins", sans-serif;
}

.w-head .panel {
    padding-top: 7px;
    color: transparent;
    display: flex;
}

.w-head .panel i {
    margin-left: 10px;
    font-size: 20px;
    -webkit-text-stroke: 2px rgb(17, 135, 231);
    cursor: pointer;
}

.news h2 {
    background: linear-gradient(to right, rgb(17, 135, 231), rgb(233, 233, 233));
    padding: 10px;
    border-radius: 20px;
    color: #fff;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.news a {
    text-decoration: none;
    color: black;
    width: 400px;
    transition: all 0.3s ease;
}

.news .news-block {
    width: 300px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 5px;
}

.news-block img {
    width: 300px;
    height: 200px;
    border-radius: 10px;
}

.news-block .news-title {
    margin-top: 0px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(128, 128, 128);
}

.news-block .source {
    width: 300px;
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    margin-top: 10px;
}

.news-block .source a {
    font-weight: 600;
    color: rgb(17, 135, 231);
}

.news-block .source a:hover {
    font-weight: 700;
    color: rgb(12, 95, 163);
}

.news-block .source .react {
    display: flex;
    justify-content: right;
}

.news-block .source .react i {
    color: rgb(236, 48, 80);
    margin-left: 10px;
    cursor: pointer;
}


/* Sports style */

.sports h2 {
    background: linear-gradient(to right, rgb(46, 148, 231), rgb(233, 233, 233));
    padding: 10px;
    border-radius: 20px;
    color: #fff;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
}