.show {
  z-index: 1000;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.728);
  backdrop-filter: blur(3px);
  padding: 0px;
  border-radius: 15px;
  display: block;
  margin-left: 10px;
  list-style-type: none;
  list-style: none;
  box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.2),
    0px 6px 20px 0px rgba(0, 0, 0, 0.19);
  transition: all 0.2s ease;
  overflow: hidden;
}

.hide {
  display: none;
}

.show li {
  list-style: none;
  width: auto;
  font-size: 20px;
  color: rgba(63, 63, 63, 0.831);
  letter-spacing: 1px;
  font-weight: 500;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  border: none;
  transition: all 0.2s ease;
  cursor: pointer;
}

.show li:first-child {
  padding-top: 20px;
}

.show li:last-child {
  padding-bottom: 20px;
}

.show li:hover {
  border: none;
  background-color: rgba(255, 255, 255, 0.833);
  color: rgba(96, 96, 96, 0.831);
}

.show a:hover {
  text-decoration: underline !important;
}
